.margin_bt {
	margin-bottom: 1.5rem;
}
.margin_bt_5 {
	margin-bottom: 0.5rem;
}
.padding_rl {
	padding: 0 1.5rem;
}
.padding_right {
	padding-right: 1.5rem;
}
.padding_left {
	padding-right: 1rem;
}
.padding_bottom {
	padding-right: 1rem;
}
.padding_top {
	padding-right: 1rem;
}
.cursor:hover {
	color: #1890ff;
	cursor: pointer;
}
